<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <servlet-class>com.mycompany.pastelario141.servlet.CadastrarClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <url-pattern>/CadastrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarClientes</servlet-name>
        <servlet-class>com.mycompany.pastelario141.servlet.ListarClientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarClientes</servlet-name>
        <url-pattern>/ListarClientes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletarClienteServlet</servlet-name>
        <servlet-class>com.mycompany.pastelario141.servlet.DeletarClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletarClienteServlet</servlet-name>
        <url-pattern>/DeletarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastroFuncionarioServlet</servlet-name>
        <servlet-class>com.mycompany.pastelario141.servlet.CadastroFuncionarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroFuncionarioServlet</servlet-name>
        <url-pattern>/CadastroFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletarFuncionarioServlet</servlet-name>
        <servlet-class>com.mycompany.pastelario141.servlet.DeletarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletarFuncionarioServlet</servlet-name>
        <url-pattern>/DeletarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarFuncionarios</servlet-name>
        <servlet-class>com.mycompany.pastelario141.servlet.ListarFuncionarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarFuncionarios</servlet-name>
        <url-pattern>/ListarFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastroProdutoServlet</servlet-name>
        <servlet-class>com.mycompany.pastelario141.servlet.CadastroProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroProdutoServlet</servlet-name>
        <url-pattern>/CadastroProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarProdutos</servlet-name>
        <servlet-class>com.mycompany.pastelario141.servlet.ListarProdutos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarProdutos</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletarProdutoServlet</servlet-name>
        <servlet-class>com.mycompany.pastelario141.servlet.DeletarProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletarProdutoServlet</servlet-name>
        <url-pattern>/DeletarProdutoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
